In [20]:
from data import X_train, X_val, y_train, y_val
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier

In [5]:
X_train

array([[ 3.,  1.,  1., ...,  7.,  1.,  1.],
       [ 8.,  7.,  8., ...,  5., 10.,  1.],
       [ 1.,  1.,  1., ...,  3.,  1.,  1.],
       ...,
       [10.,  5.,  7., ...,  3.,  3.,  8.],
       [ 4.,  1.,  1., ...,  2.,  1.,  1.],
       [10., 10., 10., ...,  8.,  8.,  8.]])

In [7]:
def accuracy(model, X_test, y_test):
    y_pred = model.predict(X_test)
    return np.mean(y_pred == y_test)

In [17]:
model = DecisionTreeClassifier(random_state=0, max_depth=2)
model.fit(X_train, y_train)
accuracy(model, X_val, y_val)

0.5141776937618148

In [23]:
pd.get_dummies(y_val.reshape(-1))

    2  4
0   0  1
1   0  1
2   1  0
3   1  0
4   1  0
.. .. ..
64  1  0
65  1  0
66  0  1
67  0  1
68  1  0

[69 rows x 2 columns]