In [82]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

In [142]:
train = pd.read_csv('training.csv', header= None, na_values="?")
X_test = pd.read_csv('testing.csv', header= None, na_values="?")

In [168]:
X, y = train.drop(15, axis=1), train[15]
y = np.where(y == '+', 1, 0)
X_categorical = X[[0, 3, 4, 5, 6, 8, 9, 11, 12]]
X_numerical = X[[1, 2, 7, 10, 13, 14]]
num_imputer = KNNImputer(n_neighbors=1, weights="uniform")
X_numerical = num_imputer.fit_transform(X_numerical)

cate_imputer = SimpleImputer(strategy="most_frequent")
X_categorical = cate_imputer.fit_transform(X_categorical)
X_categorical_onehot = pd.DataFrame()
for i in range(X_categorical.shape[1]):
    if i != 3 and i != 4:
        X_categorical_onehot = pd.concat([X_categorical_onehot, pd.get_dummies(X_categorical[:, i])], axis=1)
X_final = np.array(pd.concat([X_categorical_onehot, pd.DataFrame(X_numerical)], axis=1).drop('l', axis=1))
X_final

array([[  1.,   0.,   1., ...,   0., 360.,   0.],
       [  0.,   1.,   0., ...,   0., 176., 537.],
       [  0.,   1.,   0., ...,   3., 140., 210.],
       ...,
       [  0.,   1.,   1., ...,   6., 470.,   0.],
       [  0.,   1.,   1., ...,   0., 108., 100.],
       [  0.,   1.,   0., ...,   4.,  45.,   1.]])

In [179]:
from sklearn.model_selection import cross_val_score

max_features = ['auto', 'sqrt', 'log2']
n_estimators = np.arange(10, 201, 10)
comb = [(x, y) for x in max_features for y in n_estimators]
accuracies = np.zeros(len(comb))
for i, c in enumerate(comb):
    max_feature, n_estimator = c
    rf = RandomForestClassifier(max_features=max_feature, n_estimators=n_estimator)
    scores = cross_val_score(rf, X_train, y_train, cv=10)
    accuracies[i] = np.mean(scores)
    print(c, accuracies[i])
best_comb = comb[np.argmax(accuracies)]
print(f"The best comb for Random Forest Regressor is {best_comb}")

('auto', 10) 0.8539007092198581
('auto', 20) 0.860195035460993
('auto', 30) 0.8623670212765957
('auto', 40) 0.8687943262411348
('auto', 50) 0.860195035460993
('auto', 60) 0.8687056737588652
('auto', 70) 0.8581560283687942
('auto', 80) 0.866622340425532
('auto', 90) 0.8666666666666666
('auto', 100) 0.8708333333333333
('auto', 110) 0.8602836879432623
('auto', 120) 0.8687056737588652
('auto', 130) 0.8772163120567378
('auto', 140) 0.8560283687943262
('auto', 150) 0.866622340425532
('auto', 160) 0.8644946808510638
('auto', 170) 0.866622340425532
('auto', 180) 0.864450354609929
('auto', 190) 0.8624113475177305
('auto', 200) 0.8644946808510638
('sqrt', 10) 0.8433510638297873
('sqrt', 20) 0.85177304964539
('sqrt', 30) 0.866622340425532
('sqrt', 40) 0.8645390070921986
('sqrt', 50) 0.8602393617021278
('sqrt', 60) 0.860195035460993
('sqrt', 70) 0.8687056737588653
('sqrt', 80) 0.862322695035461
('sqrt', 90) 0.8707446808510639
('sqrt', 100) 0.860195035460993
('sqrt', 110) 0.8665780141843973
('sqrt', 120) 0.8665336879432622
('sqrt', 130) 0.8687056737588652
('sqrt', 140) 0.86875
('sqrt', 150) 0.8687056737588653
('sqrt', 160) 0.8644946808510638
('sqrt', 170) 0.8708333333333333
('sqrt', 180) 0.8665336879432622
('sqrt', 190) 0.8708333333333332
('sqrt', 200) 0.86875
('log2', 10) 0.8410460992907801
('log2', 20) 0.864450354609929
('log2', 30) 0.8602836879432625
('log2', 40) 0.856072695035461
('log2', 50) 0.8665780141843971
('log2', 60) 0.8750443262411348
('log2', 70) 0.8602393617021278
('log2', 80) 0.8517287234042554
('log2', 90) 0.8623670212765958
('log2', 100) 0.8707890070921985
('log2', 110) 0.8750443262411348
('log2', 120) 0.8581117021276597
('log2', 130) 0.8602836879432625
('log2', 140) 0.8708333333333332
('log2', 150) 0.8645390070921986
('log2', 160) 0.866622340425532
('log2', 170) 0.8645390070921986
('log2', 180) 0.866622340425532
('log2', 190) 0.8644060283687944
('log2', 200) 0.86875
The best comb for Random Forest Regressor is ('auto', 130)

In [204]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_final, y, test_size=0.2, random_state=42)

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

dt = RandomForestClassifier(n_estimators=130)
dt.fit(X_final, y)
y_pred = dt.predict(X_test_final)
y_pred

array([0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1])

In [165]:
X_test_categorical = X_test[[0, 3, 4, 5, 6, 8, 9, 11, 12]]
X_test_numerical = X_test[[1, 2, 7, 10, 13, 14]]
num_imputer = KNNImputer(n_neighbors=1, weights="uniform")
X_test_numerical = num_imputer.fit_transform(X_test_numerical)
cate_imputer = SimpleImputer(strategy="most_frequent")
X_test_categorical = cate_imputer.fit_transform(X_test_categorical)
X_test_categorical_onehot = pd.DataFrame()
for i in range(X_test_categorical.shape[1]):
    if i != 3 and i != 4:
        X_test_categorical_onehot = pd.concat([X_test_categorical_onehot, pd.get_dummies(X_test_categorical[:, i])], axis=1)
X_test_final = pd.concat([X_test_categorical_onehot, pd.DataFrame(X_test_numerical)], axis=1)
X_test_final

,a,b,u,y,g,p,f,t,f,t,...,t,g,p,s,0,1,2,3,4,5
0,0,1,1,0,1,0,1,0,1,0,...,1,1,0,0,16.33,4.085,0.415,0.0,120.0,0.0
1,0,1,1,0,1,0,1,0,1,0,...,1,1,0,0,32.33,2.500,1.250,0.0,280.0,0.0
2,1,0,1,0,1,0,0,1,1,0,...,1,1,0,0,36.75,5.125,5.000,0.0,0.0,4000.0
3,1,0,1,0,1,0,1,0,0,1,...,1,1,0,0,16.92,0.500,0.165,6.0,240.0,35.0
4,0,1,1,0,1,0,0,1,1,0,...,1,1,0,0,32.08,4.000,2.500,0.0,360.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,0,1,0,1,0,1,0,0,1,...,0,1,0,0,16.08,0.335,0.000,1.0,160.0,126.0
96,0,1,1,0,1,0,1,0,1,0,...,0,0,1,0,23.17,0.000,0.000,0.0,320.0,0.0
97,0,1,0,1,0,1,0,1,0,1,...,1,1,0,0,33.17,3.040,2.040,1.0,180.0,18027.0
98,0,1,0,1,0,1,0,1,0,1,...,0,1,0,0,43.00,0.290,1.750,8.0,100.0,375.0
99,0,1,1,0,1,0,0,1,0,1,...,0,1,0,0,23.17,11.125,0.460,1.0,100.0,0.0

In [207]:
X_test = pd.read_csv('testing.csv', header= None, na_values="?")
# np.where(y == '+', 1, 0)
y_pred_trans = np.where(y_pred == 1, '+', '-')
final_test = pd.concat([X_test, pd.DataFrame(y_pred_trans)], axis=1)
final_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,0
0,b,16.33,4.085,u,g,i,h,0.415,f,f,0,t,g,120.0,0,-
1,b,32.33,2.500,u,g,c,v,1.250,f,f,0,t,g,280.0,0,-
2,a,36.75,5.125,u,g,e,v,5.000,t,f,0,t,g,0.0,4000,+
3,a,16.92,0.500,u,g,i,v,0.165,f,t,6,t,g,240.0,35,-
4,b,32.08,4.000,u,g,m,v,2.500,t,f,0,t,g,360.0,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,a,16.08,0.335,u,g,ff,ff,0.000,f,t,1,f,g,160.0,126,-
96,b,23.17,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,-
97,b,33.17,3.040,y,p,c,h,2.040,t,t,1,t,g,180.0,18027,+
98,b,43.00,0.290,y,p,cc,h,1.750,t,t,8,f,g,100.0,375,+
99,b,23.17,11.125,u,g,x,h,0.460,t,t,1,f,g,100.0,0,+

In [209]:
final_test.to_csv('prediction.csv', header=False, index=False)